<div class="container">
    <div class="footer-basic">
        <footer>
            <div class="footer-action">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12" id="footer-general">
                        <div class="col-12 text-center">
                            <h4>General</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Home</a></div>
                        <div class="col-12 text-center"><a href="#">About</a></div>
                        <div class="col-12 text-center"><a href="#">Terms</a></div>
                        <div class="col-12 text-center"><a href="#">Privacy Policy</a></div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12" id="footer-socialmedia">
                        <div class="col-12 text-center">
                            <h4>General</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Facebook</a></div>
                        <div class="col-12 text-center"><a href="#">About</a></div>
                        <div class="col-12 text-center"><a href="#">Terms</a></div>
                        <div class="col-12 text-center"><a href="#">Privacy Policy</a></div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12" id="footer-location">
                        <div class="col-12 text-center">
                            <h4>General</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Home</a></div>
                        <div class="col-12 text-center"><a href="#">About</a></div>
                        <div class="col-12 text-center"><a href="#">Terms</a></div>
                        <div class="col-12 text-center"><a href="#">Privacy Policy</a></div>

                    </div>
                </div>

            </div>

            <div class="row" id="footer-copyright">
                <p class="copyright">Company Name © 2017</p>
            </div>
        </footer>
    </div>
</div>