{# TODO Überlegen ob die Daten im Admin Konfiguriert werden können #}
{% block static %}<link rel="stylesheet" href="{% static 'homepage/components/footer.css' %}">{% endblock %}
<div class="container">
    <div class="footer-basic">
        <footer>
            <div class="footer-action">
                <div class="row">
                    <div class="col-md-4 col-sm-12" id="footer-general">
                        <div class="col-12 text-center">
                            <h4>General</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Home</a></div>
                        <div class="col-12 text-center"><a href="#">About</a></div>
                        <div class="col-12 text-center"><a href="#">Terms</a></div>
                        <div class="col-12 text-center"><a href="#">Privacy Policy</a></div>

                    </div>

                    <div class="col-md-4" id="footer-socialmedia">
                        <div class="col-12 text-center">
                            <h4>Social Media</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Facebook</a></div>
                        <div class="col-12 text-center"><a href="#">Instagram</a></div>
                        <div class="col-12 text-center"><a href="#">Youtube</a></div>
                        <div class="col-12 text-center"><a href="#">LinkedIn</a></div>

                    </div>

                    <div class="col-md-4" id="footer-location">
                        <div class="col-12 text-center">
                            <h4>Location</h4>
                        </div>

                        <div class="col-12 text-center"><a href="">Prodai GmbH</a></div>
                        <div class="col-12 text-center"><a href="#">Genslerstraße 84</a></div>
                        <div class="col-12 text-center"><a href="#">13359 Berlin</a></div>
                        <div class="col-12 text-center"><a href="#">030 98 29998</a></div>
                        <div class="col-12 text-center"><a href="#">support@prodai.com</a></div>

                    </div>
                </div>

            </div>

            <div class="row" id="footer-copyright">
                <p class="copyright">Prodai © 2019</p>
            </div>
        </footer>
    </div>
</div>