{% extends 'base.html' %}
{% load static %}


{% block static %}
    <link rel="stylesheet" href="{% static 'auth/dashboard/style.css' %}">
{% endblock %}
{% block staticjs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'auth/dashboard/index.js' %}"></script>
{% endblock %}


{% block content %}
    {% include 'auth/partials/_navbar.html' %}
    {% include 'homepage/partials/_alerts.html' %}

    <div class="container mb-5">
        <div class="row box">
            {% comment %}GENERAL TIME BOX{% endcomment %}
            <div class="col-md-4 col-sm-12 text-center">
                <p class="display-3">{{ timetracking_max_workhours.max_daily_work_time }}</p>
            </div>

            <div class="col-md-4 col-sm-12 text-center">
                <p class="display-5"><strong>{{ weekday }}</strong></p>
                <p class="display-5"><i class="fas fa-calendar-alt"></i> {{ date }}</p>
                <hr>
                <p class="display-5 text-primary"><i class="fas fa-rocket"></i> {{ productivity_percentage }}</p>
                <p class="display-5 text-danger"><i class="fas fa-crosshairs"></i> {{ procrastination_percentage }}</p>

            </div>

            <div class="col-md-4 col-sm-12 text-center">
                {% if timetracking_code == 'default' %}
                    <p class="display-5"><strong>Time Cycle: </strong> {{ timetracking_name }}</p>
                {% else %}
                    <p class="display-5"><strong>Time Option: </strong> {{ timetracking_name }}</p>
                    <p class="display-5"><strong>Working Time: </strong> {{ timetracking_working_time }} min</p>
                    <p class="display-5"><strong>Short Break: </strong> {{ timetracking_short_breaks }} min</p>
                    <p class="display-5"><strong>Long Break: </strong> {{ timetracking_long_breaks }} min</p>
                    <p class="display-5"><strong>Time Cycle: </strong> {{ timetracking_cycle }} min</p>
                {% endif %}

            </div>
        </div>

        {% comment %}Time Tracking box{% endcomment %}
        <div class="row mt-3">
            <div class="box col-md-4 col-sm-12">
                <h2>Daily work Time</h2>
                <p class="display-4 text-dark">{{ daily_worktime }}</p>
                <hr>
                <h2 class="text-primary">Productivity Time</h2>
                <p class="display-4 text-primary">{{ productivity_worktime }}</p>
                <hr>
                <h2 class="text-danger">Procrastination Time</h2>
                <p class="display-4 text-danger">{{ procrastination_time }}</p>
            </div>
            <div class="box col-md-7 col-sm-12 ml-md-auto" id="table-div">
                <h2>Time consumed by Activity</h2>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Activity Name</th>
                            <th scope="col">Time Spent</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for activity in tracked_activities %}
                            <tr
                                    {% for block_activity in blocked_activities %}
                                        {% if activity.activity_name == block_activity.block_activities %}
                                            class="bg-danger text-light"
                                        {% endif %}
                                    {% endfor %}

                            >
                                <th scope="row">{{ activity.index }}</th>
                                <td>{{ activity.activity_name }}</td>
                                <td>{{ activity.time_spent }}</td>
                            </tr>


                        {% endfor %}


                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        {% comment %}Analytics box{% endcomment %}
        <div class="row mt-3">
            <div class="box col-md-4 col-sm-12">
                <h2>Analytics</h2>
                <canvas id="my-percentage-canvas" width="400" height="400"></canvas>
            </div>
            <div class="box col-md-7 col-sm-12 ml-md-auto">
                <h2 class="text-center">used Apps</h2>

                <input class="d-block mx-auto checkbox" name="checkbox" type="checkbox" value="checked">


                <canvas class="d-none" id="procrastination-apps-canvas" width="400" height="400"></canvas>
                <canvas id="productivity-apps-canvas" width="400" height="400"></canvas>
            </div>
        </div>

        {% comment %}Project Management box{% endcomment %}
        <div class="row mt-3">
            <div class="box col-md-12 col-sm-12">
                <h2>Project Management</h2>
            </div>
        </div>

        {% comment %}Team Box{% endcomment %}
        <div class="row mt-3">
            <div class="box col-md-5 col-sm-12">
                <h2>Team</h2>
            </div>
            <div class="box col-md-5 col-sm-12 ml-md-auto">
                <h2>Team</h2>
            </div>
        </div>


    </div>



{% endblock %}