{# TODO Überlegen ob die Daten im Admin Konfiguriert werden können #}
{% load static from staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'homepage/components/footer.css' %}">{% endblock %}

<div class="container-fluid footer-basic pb-4">
<div class="container h-100">

        <footer>
            <div class="footer-action">
                <div class="row align-items-center h-100">
                    <div class="col-md-4 col-sm-12 text-left" id="footer-general">
                        <div class="col-12">
                            <h4>General</h4>
                        </div>

                        <div class="col-12"><a class="text-decoration-none text-light" href="">Home</a></div>
                        <div class="col-12"><a class="text-decoration-none text-light" href="#">About</a></div>
                        <div class="col-12"><a class="text-decoration-none text-light" href="#">Terms</a></div>
                        <div class="col-12"><a class="text-decoration-none text-light" href="#">Privacy Policy</a></div>

                    </div>


                    <div class="col-md-4 col-sm-12 text-left" id="footer-location">
                        <div class="col-12 pt-4">
                            <h4>Location</h4>
                        </div>

                        <div class="col-12">Prodai GmbH</div>
                        <div class="col-12">Genslerstraße 84</div>
                        <div class="col-12">13359 Berlin</div>
                        <div class="col-12">030 98 29998</div>
                        <div class="col-12"><a class="text-decoration-none text-light" href="#">support@prodai.com</a></div>

                    </div>
                </div>

            </div>
        </footer>
</div>
    </div>

</div>
<div class="container-fluid" id="footer-copyright">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-6 mx-auto">
                Copyright &copy; <span class="year"></span> Prodai
            </div>
            <div class="col-md-6 mx-auto text-right">
                <div class="social-media">
                    <a href=""><i class="fab fa-facebook-square text-light pl-2" id="facebook"></i></a>
                    <a href=""><i class="fab fa-instagram text-light pl-2" id="instagram"></i></a>
                    <a href=""><i class="fab fa-youtube text-light pl-2" id="youtube"></i></a>
                    <a href=""><i class="fab fa-linkedin text-light pl-2" id="linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
</div>

