{% comment %}
    TODO Navbar on small dropdown doesn't open
    TODO smooth scrolling https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2
{% endcomment %}
{% load static from staticfiles%}
{% block static %}<link rel="stylesheet" href="{% static 'homepage/components/navbar.css' %}">{% endblock %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <a href="#" class="navbar-brand"><img class="navbar-logo" src="{% static 'general/img/logo.png' %}" alt=""></a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="color:#03a9f4;">
                    <li role="presentation" class="nav-item"><a href="#functions" class="nav-link active"
                                                                style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Functions</a>
                    </li>
                    <li role="presentation" class="nav-item"><a href="#" class="nav-link active"
                                                                style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Testimonial</a>
                    </li>
                    <li role="presentation" class="nav-item"><a href="#pricing" class="nav-link active"
                                                                style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Pricing</a>
                    </li>
                </ul>
                <a class="btn btn-light action-button" role="button" href="{% url 'signup' %}" style="background-color:#03a9f4;color:#ffffff;font-family:Lato, sans-serif;font-weight:normal;">Sign Up</a>
            </div>
        </div>
</nav>