{% load static %}
<div class="col-lg-12 pt-3 text-center">
    <h1 class="display-4">Welcome to your settings <span
            id="name-of-user">{{ user.first_name }} {{ user.last_name }}</span></h1>
    <p class="display-5 description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi assumenda corporis cumque doloribus <br>
        ea illum necessitatibus quidem rerum, voluptatum. Amet animi ducimus, <br>
        ex inventore iusto labore nobis nostrum perspiciatis.
    </p>
</div>
