#footer-copyright {
    background-color: #003366;
    color: #fefefe;
    height: 40px;
}
.social-media {
    font-size: 20px;
}

.footer-basic {
    background-color: #03A9F4;
    color: #fefefe;
}



