{% extends 'base.html' %}

{% block content %}
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="height:80px;">
            <div class="container"><a href="#" class="navbar-brand" style="color:rgb(3,169,244);">Prodai</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto" style="color:#03a9f4;">
                        <li role="presentation" class="nav-item"><a href="#" class="nav-link active" style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Functions</a></li>
                        <li role="presentation" class="nav-item"><a href="#" class="nav-link active" style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Testimonial</a></li>
                        <li role="presentation" class="nav-item"><a href="#pricing" class="nav-link active" style="font-family:Lato, sans-serif;color:#03a9f4;font-weight:bold;">Pricing</a></li>
                    </ul><span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="#" style="background-color:#03a9f4;color:#ffffff;font-family:Lato, sans-serif;font-weight:normal;">Sign Up</a></span></div>
    </div>
    </nav>
    </div>
    <div class="d-flex" style="height:100%;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;background-color:#850202;background-repeat:no-repeat;">
        <div class="d-flex" style="background-color:rgba(10,78,146,0.6);height:887px;">
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center flex-nowrap visible">
                <h1 class="text-center" style="color:#ffffff;font-family:Lato, sans-serif;">Steigere jetzt deine Produktivität</h1>
                <p class="text-center" style="color:#ffffff;font-family:Lato, sans-serif;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><button class="btn btn-primary d-inline-flex align-items-center align-content-center align-content-lg-center align-content-xl-center"
                    type="submit">Sign Up</button></div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Functions</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Customizable</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Organic</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Fast</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Mobile-first</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials</h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                    </div>
                    <div class="author"><img src="1.jpg" class="rounded-circle" />
                        <h5 class="name">Ben Johnson</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                    </div>
                    <div class="author"><img src="3.jpg" class="rounded-circle" />
                        <h5 class="name">Carl Kent</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in</p>
                    </div>
                    <div class="author"><img src="2.jpg" class="rounded-circle" />
                        <h5 class="name">Emily Clark</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="d-flex flex-column align-items-center intro">
                <h2 class="text-center" style="padding-top:40px;margin-bottom:40px;">Pricing</h2>
                <p class="text-center" style="width:500px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
            </div>
            <div class="row d-flex" style="padding-top:50px;">
                <div class="col-md-4 d-flex flex-column align-items-center" style="background-color:#ffffff;padding-top:0;">
                    <h3 class="d-flex">STARTER</h3>
                    <p>0 € / month per user</p>
                    <ul style="width:243px;">
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 1</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 2</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 3</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 4</li>
                    </ul><button class="btn btn-outline-primary" type="submit" style="color:#0a4e92;">Select</button>
                    <p style="font-size:14px;color:rgba(33,37,41,0.63);">14-day money back guarantee</p>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center" style="background-color:#ffffff;">
                    <h3 class="d-flex">BASIC</h3>
                    <p>2 € / month per user</p>
                    <ul style="width:243px;">
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 1</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 2</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 3</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 4</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 5</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 6</li>
                    </ul><button class="btn btn-outline-primary" type="submit" style="color:#0a4e92;">Select</button>
                    <p style="font-size:14px;color:rgba(33,37,41,0.63);">14-day money back guarantee</p>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center" style="background-color:#ffffff;">
                    <h3 class="d-flex">PREMIUM</h3>
                    <p>5 € / month per user</p>
                    <ul style="width:243px;">
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 1</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 2</li>
                        <li style="font-family:Lato, sans-serif;color:#0a4e92;">Lorem ipsum dolor sit amet 3</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 4</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 5</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 6</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 7</li>
                        <li style="font-family:Lato, sans-serif;color:rgb(10,78,146);">Lorem ipsum dolor sit amet 8</li>
                    </ul><button class="btn btn-outline-primary" type="submit" style="color:#0a4e92;">Select</button>
                    <p style="font-size:14px;color:rgba(33,37,41,0.63);">14-day money back guarantee</p>
                </div>
            </div>
        </div>
    </div>

    {% include "homepage/components/footer.html" %}
{% endblock %}