p {
  padding: 0;
    margin: 0;
}
.box {
    background-color: #fefefe;
    margin-top: 1%;
    padding: 1%;
    box-shadow: 0 3px 5px rgba(0,0,0,.5);
}

.table-responsive {
    max-height: 400px;
}

#table-div {
    padding-bottom: 8px;
}

input[type="checkbox"] {
    position: relative;
    width: 70px;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #03A9F4;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}

input:checked[type="checkbox"] {
    background-color: #F44336;

}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 50%;
}