<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Prodai {% block title %}{% endblock %}</title>

    {% load static %}


    {% comment %} BOOTSTRAP {% endcomment %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% comment %} FONTAWESOME {% endcomment %}
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome/css/duotone.css' %}">


    {% comment %} CUSTOME STYLE CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}"/>

    {% block static %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'general/favicon/favicon.ico' %}">
</head>
<body>
{% block content %}{% endblock %}

{% comment %}BOOTSTRAP JS ANS JQUERY{% endcomment %}
{% comment %}{% bootstrap_javascript jquery=True %}{% endcomment %}


{% comment %}GENERAL FUNCTIONALITY LIKE GETTING THE DATE FOR COPYRIGHT{% endcomment %}
<script src="{% static 'js/main.js' %}"></script>
{% block staticjs %}{% endblock %}
</body>
</html>
