<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prodai {% block title %}{% endblock %}</title>

    {% load static %}
    {% load staticfiles %}

    {# Load the Tag Library #}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/fontawesome/css/duotone.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" />
    {% block static %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'general/favicon/favicon.ico' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
