{% load static from staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'auth/style.css' %}">
{% endblock %}
<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <img src="{% static 'general/img/logo.png' %}" alt="Prodai Company Logo">
    </a>

    <ul class="nav justify-content-end">

        <li class="nav-item mt-2">
            <a
                    {% if 'dashboard' in request.path %}
                        class="nav-link active"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        id="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-home pr-2"></i>Dashboard</a>
        </li>
        <li class="nav-item mt-2">
            <a
                    {% if 'timetracking' in request.path %}
                        class="nav-link active"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'timetracking' %}"><i class="fas fa-clock pr-2"></i>Time Tracking</a>
        </li>
        <li class="nav-item mt-2">
            <a
                    {% if 'analytics' in request.path %}
                        class="nav-link active"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'analytics' %}"><i class="fas fa-analytics pr-2"></i>Analytics</a>
        </li>
        <li class="nav-item mt-2">
            <a
                    {% if 'projectmanagment' in request.path %}
                        class="nav-link active"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'projectmanagment' %}"><i class="fas fa-project-diagram pr-2"></i>Project
                Management</a>
        </li>
        <li class="nav-item mt-2">
            <a
                    {% if 'team' in request.path %}
                        class="nav-link active"
                    {% else %}
                        class="nav-link"
                    {% endif %}
                        href="{% url 'team' %}"><i class="fas fa-users pr-2"></i>Team</a>
        </li>

        <div class="vertical-line"></div>

            <a class="nav-link" id="profile-dropdown-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true"
               aria-expanded="false">
                <div class="mx-auto">
                    {% if profile.img %}
                    {% else %}
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                             alt="" id="navbar-profile-img">
                    {% endif %}

                    {{ user.username }} <i class="fas fa-arrow-down my-auto"></i>
                </div>
            </a>


            <div class="dropdown-menu dropdown-menu-right mt-1 mr-5" id="dropdown">
                <a class="dropdown-item dropdown-link" href="{% url 'profile' %}"><i
                        class="fas fa-user-circle pr-1"></i>Profile</a>
                <a class="dropdown-item dropdown-link" href="{% url 'settings' %}"><i class="fas fa-cog pr-1"></i>Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="javascript:{document.getElementById('logout').submit()}"><i
                        class="fas fa-sign-out-alt"></i> Logout</a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
            </div>

    </ul>

</nav>