{% extends 'base.html' %}
{% load static from staticfiles %}
{% block static %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
{% block content %}
    <div class="signin-img">
        <div class="container pt-5 ">
            {% comment %} ALERTS {% endcomment %}
            {% include 'homepage/partials/_alerts.html' %}
            <div class="mx-auto card col-md-6 signin-form">
                <div class="card-body">
                    <form class="form-signin" action="{% url 'signin' %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'index' %}"><img class="mx-auto mt-4 d-block"
                                                         src="{% static 'general/img/logo.png' %}"
                                                         alt="Logo von Prodai"></a>

                        <h1 class="text-center pt-5">Sign in</h1>

                        <div class="form-group">
                            <label for="signin-username-input">Username</label>
                            <input type="username" class="form-control" id="signin-username-input"
                                   name="username" placeholder="Enter your Username">
                        </div>
                        <div class="form-group">
                            <label for="signin-password-input">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password">
                        </div>
                        <a href="{% url 'signup' %}" class="stretched-link">Create new account</a>

                        <button type="submit" class="btn btn-block btn-primary mt-3">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}