{% extends 'base.html' %}
{% load static from staticfiles %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">{% endblock %}
{% block content %}
    <div class="signup-img">
        <div class="container">
            {% comment %} ALERTS {% endcomment %}
            {% include 'homepage/partials/_alerts.html' %}
            <div class="mx-auto card col-md-6 signup-form">
                <div class="card-body">
                    <form class="form-signup" action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'homepage' %}"><img class="mx-auto mt-4 d-block"
                                                            src="{% static 'general/img/logo.png' %}"
                                                            alt="Logo von Prodai"></a>

                        <h1 class="text-center pt-5">Sign up</h1>

                        <div class="form-group">
                            <label for="signup-firstname-input">First Name</label>
                            <input type="text" class="form-control" id="signup-firstname-input"
                                   name="first_name" aria-describedby="firstname-info" placeholder="Enter your First Name" required>
                        </div>

                        <div class="form-group">
                            <label for="signup-lastname-input">Last Name</label>
                            <input type="text" class="form-control" id="signup-lastname-input"
                                   name="last_name" aria-describedby="lastname-info" placeholder="Enter your Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="signup-username-input">Username</label>
                            <input type="text" class="form-control" id="signup-username-input"
                                   name="username" aria-describedby="email-info" placeholder="Enter your Username" required>
                        </div>

                        <div class="form-group">
                            <label for="signup-email-input">E-Mail Address</label>
                            <input type="email" class="form-control" id="signup-email-input"
                                   name="email" aria-describedby="email-info" placeholder="Enter your E-Mail" required>
                            <small id="email-info" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="signup-email-input">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                            <input type="password" class="form-control mt-2" name="repeated_password" placeholder="Repeat Password" required>
                        </div>
                        <div class="row pl-3 pb-3">

                            <label>
                                <input name="checkbox" type="checkbox" value="checked">
                            </label>

                            <div class="text-left pl-3">
                                <small id="checkbox-description">By registering, I confirm the <a href="">terms of
                                    use</a>
                                    and <a href="">privacy policy.</a></small>
                            </div>
                        </div>
                        <a href="{% url 'signin' %}" class="stretched-link">Do you already have an account?</a>

                        <button type="submit" class="btn btn-block btn-primary mt-3">Sign up</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}